<?xml version="1.0"?>
<phpunit bootstrap="tests/unit/php/bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Plugin Test Suite">
            <directory suffix=".php">tests/unit/php</directory>
        </testsuite>
    </testsuites>
</phpunit>
